<nav class="nav-mobile brown-background-mobile d-md-none">
    <div class="container-fluid brown-background-mobile ">
        <div class="row justify-content-evenly text-center align-center fs-4 p-2">
            <div class="col nav-link-logged-in">
                <a class="nav-link-mobile" href="/coffees"><i class="bi bi-house nav-link-mobile"></i></a>
            </div>
            <div class="col">
                <a class="nav-link-mobile nav-link-logged-in" href="/drinks" disabled><i
                        class="bi bi-clock-history"></i></a>
            </div>
            <div class="col">
                <a class="nav-link-mobile" href="/about"><i class="bi bi-heart"></i></a>
            </div>
        </div>
    </div>
</nav>