<% layout('layouts/loginplate')%>
    <div class="container-fluid">
        <div class="row justify-content-center ">

            <div class="col-sm-7 mb-3 ">
                <img src="/img/utopia-MS0RHQ1enek-unsplash.jpg" class="img-fluid rounded" alt=" about">
            </div>
            <div class="col">
                <div class="card shadow rounded mb-3 ">
                    <div class="card-body">
                        <figure>
                            <blockquote class="blockquote">
                                <p>I hope you like this app more than you like Starbucks. <br>
                                    <a class="text-decoration-none text-reset" href="mailto:yuval@hidas.net">
                                        Please contact with
                                        suggestions!
                                        <h5 class="text-center">✉</h5>
                                    </a>
                                </p>
                                <p><a class="text-decoration-none text-reset" href="https://paypal.me/fa1u1">
                                        <h5>Or, thank me with a coffee
                                        </h5>
                            </blockquote>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="card shadow rounded mb-3 ">
                    <div class="card-body">
                        <figure>
                            <blockquote class="blockquote">
                                <p class="mb-1"> Credits: </p>
                                <p> Janko Ferlic, Nathan Dumlaov, Enis Yavuz, Hanna Balan, Ning Shi, Y. Caip,
                                    Conor Brown. Unsplash. </p>
                            </blockquote>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>