<% layout('layouts/loginplate')%>
    <div class="container-fluid">
        <div class="row justify-content-center ">

            <div class="col-sm-7  ">
                <img src="/img/utopia-MS0RHQ1enek-unsplash.jpg" class="img-fluid rounded" alt=" about">
            </div>
            <div class="col">
                <div class="card shadow ">
                    <div class="card-body">
                        <figure>
                            <blockquote class="blockquote">
                                <h4>I hope you like this app more than you like Starbucks. <br> Please contact with
                                    suggestions!
                                    <a class="text-decoration-none text-reset" href="mailto:yuval@hidas.net"> ✉
                                    </a>
                                </h4>
                                <p><a class="text-decoration-none text-reset" href="https://paypal.me/fa1u1">
                                        <h5><em>Or, thank me with a coffee</em> 😎</h5>
                            </blockquote>

                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>