@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
.navbar-dark, .navbar-brand {
color: #fff2e5!important; 
}

.nav-mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;
    box-shadow: 1px 1px 10px 0 #4E2C0B;
    /* border-radius: 45px 45px 0 0; */
    /* padding-bottom: 8px; */

}

@media screen and (max-height: 550px) {

    .nav-mobile {
        display: none;
    }

}

.nav-link-mobile {
    color: rgba(255,255,255,.75)!important; 
    padding-top: 15px;

    }

.brown-background-mobile, .bg-dark {
  
        background-color: rgba(38, 21, 5, 0.8)!important; 
        /* border-radius: 25px 25px 0 0; */

     }
 .brown-background, .bg-dark {
  
    background-color: rgba(38, 21, 5, 1)!important; 
 }

 
 body {
    background-image: linear-gradient(rgba(255, 253, 253, 1), rgba(255, 255, 255, 1));
    /* url("https://images.unsplash.com/photo-1509785307050-d4066910ec1e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1228&q=80"); */
        /* url("../img/janko-ferlic-h9Iq22JJlGk-unsplash.jpg"); */
    background-size: cover; 
    
      }

.coffee {
    color: #3b291d; 
}

h1, h2, h3 { 
    color: #4e2c0b;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

.danger-beige { 
    background-color: #ffbf80;
}

a {
    color: #0b334e;
    text-decoration: none;
}

a:hover {
    color: #0b334e;
}

.btn-outline-secondary {
    border-color: #0b334e;
}

.btn-secondary {
   background-color:  #4d2b13;
   color: #fff2e5; 
}

.btn-secondary:hover, .btn-outline-secondary:hover  {
    background-color:  #4d2b13;

    /* background-color: #0f4970; */
}

.list-group-flush > .coffee-type-card {  
      
        box-shadow: 1px 1px 1px 0 #4E2C0B;
        /* border-left: 15px #0b334e solid;        */
        /* border-left: 15px #3b291d solid;        */
        border-left: 15px rgba(21, 11, 78, 1) solid; 


        /* border-top: 1px rgba(11, 51, 78, 0.6) solid;  */
        border-radius: 2px 20px 20px 3px!important; 
    
}

.drink-info:first-child {  
      
    border-top: 1px solid rgba(0,0,0,.125);
}

.card-header { 
    background-color: #fffaf5;
}
.card-footer { 
    background-color: rgba(245, 243, 239, 0.6);
}

.coffee-light-background, .card-footer { 
    background-color: rgba(245, 243, 239, 0.4);
    box-shadow: 1px 1px 2px -2px rgba(21, 11, 78, 1) ;

}


#espresso_cup {
    opacity: 0.9 ; 
}

.card-top {
    height: 30vh;
}

input, select, textarea {
    font-size: 16px;
}