<% layout('layouts/loginplate')%>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="/img/nathan-dumlao-r7uc-cqJy0Q-unsplash.jpg" alt="coffee register image"
                        class="card-img-top" />


                    <div class="card-body">

                        <div class="col">
                            <h5 class="card-title">PORTAFILTER</h5>
                        </div>

                        <p class="">Made for Fineshmaker Schmocks like you -
                            baristas who
                            are not behind bars.
                            With this tiny app you can track and follow your coffee making process to get the best
                            results! </p>
                        <h5>Are you in?</h5>
                        <a href="/register">
                            <button class="btn btn-secondary btn-block float-end">Sign me up</button>
                        </a>

                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>